/* Box Model Hack */
/* * {
  box-sizing: border-box;
} */

/* Clear fix hack */
/* .clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
} */

/******************************************
/* BASE STYLES
/****************************************** */


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

 * {
   margin: 1% 2% 3% 2%;
   font-family: "Quicksand";
   color: dimgrey;
   background-color: white;
 }
/* 
 main {

 } */

 .navbar {
  width: 100%;
  font-size: .8rem;
  /* text-decoration: double; */
   padding: 0px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   /* max-width: 95%; */
   margin: 0 auto;
   border-bottom: 1px solid dimgrey;
   /* background-color: white;
   position: fixed;
   top: 0; */
 }
 .navbar h1 {
   color: darkcyan;
 }
 /* .navbar .links {
   margin-left: auto;
 } */
 .navbar a {
   margin-left: 0px;
   text-decoration: none;
   /* padding: 6px; */
 }
 .navbar a:hover {
   color: darkcyan;
   /* border: 2px solid darkcyan;
   background-color: darkcyan;
   border-radius: 35px solid darkcyan; */
 }

 .titles {
  font-size: 2rem;
  color: darkcyan;
 }
 /* .content {
   max-width: 600px;
   margin: 40px auto;
   padding: 20px;
 } */

 .mainSection {
  margin-top: 10%;
  margin-bottom: 20%;
 }

.projectContents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

 .mainContainer {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  /* margin-top: 20%;
  margin-bottom: 20%; */
 }

 .projectImageColumn {
  display: flex;
  width: 50%;
  background-color: whitesmoke;
 }

 .projectInfoColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: whitesmoke;
 }

 .sourceLinks {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }

 .tetrisScreenShot {
  width: 100%;
  height: 100%;
  object-fit: fill;
  padding: 0;
  margin: 0;
  border-radius: 3%;
 }

.homeContent {
  width: 100%;
}

 .techskills {
  display: flex;
  justify-content: flext-start;
  align-items: center;
  /* width: 400px;
  height: 400px; */
 }


.skillsbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.biotext {
  font-size: 1rem;
}

 .max-w-full {
  height: 90%;
  width: 60%; 
  min-width: 40%;
  min-height: 40%;
  border-radius: 15%;
  border: 2px solid darkcyan;
 }
 
 .projects {
  display: flex;
  justify-content: flext-start;
  align-items: center;
} 
 footer {
   border-top: 1px solid dimgrey;
   display: flex;
   justify-content: center;
 }